.caja1 {
    margin: 2%;
    background-color: #ffc8c8;
    padding: 20px;
    border: 10px solid #ff4c4c;
    width: 40%;
    text-align: justify;
    float: left;
}

.caja2 {
    clear: left;
    border: 3px dashed #3e909b;
    background-color: #ffffff;
    border-radius: 10px 50px;
    text-align: justify;
    width: 40%;
    padding: 20px;
    box-shadow: 5px 9px 3px rgb(255, 172, 221);
}

.caja3 {
    position: absolute;
    top: 0px;
    left: 50%;
    margin: 2%;
    width: 40%;
    text-align: justify;
}

p.bola {
    clear: both;
    border: 10px solid black;
    border-image-source: url(../img/bola-100.png);
}

