.caja1 {
    margin: 2%;
    background-color: #ffc8c8;
    padding: 20px;
    border: 10px solid #ff4c4c;
    width: 40%;
    text-align: justify;
    float: left;
}

.caja2 {
    clear: left;
    border: 3px dashed #3e909b;
    background-color: #ffffff;
    border-radius: 10px 50px;
    text-align: justify;
    width: 40%;
    padding: 20px;
    box-shadow: 5px 9px 3px rgb(255, 172, 221);
}

.caja3 {
    position: absolute;
    top: 0px;
    left: 50%;
    margin: 2%;
    width: 40%;
    text-align: justify;
}

p.bola {
    clear: both;
    border: 10px solid black;
    border-image-source: url(../img/bola-100.png);
}

p.pastilla {
    padding: 20px;
    border: 25px solid transparent;
    border-image-source: url(../img/pastilla.png);
    border-image-slice: 25;   
    border-image-repeat: stretch;
}

p.ventana {
    border:50px solid;
    border-image-source: url(../img/ventana.png);
    border-image-slice: 50 80 20 80;
    border-image-width: 50px 80px 20px 80px;
}

p.hormigas {
    border: 10px solid black;
    border-image-source: url(../img/hormigas.png);
    border-image-repeat:stretch;
    border-image-slice: 70;
    border-image-width: 4;
    padding: 40px;
}

.spanazul {
    color: blue;
}