body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande'; /*Familia de fuente que voy a usar*/
    background-color: #0a192f;
    color: #e6f1ff;
    margin: 0%;
    padding: 0%;
}

header {
    background-color: #020c1b;
    color: #e6f1ff;
    border-bottom: 3px #00ffd5;
}

.formulario {
    width: 35%;
    background-color: #232c5f;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 4);
}